@font-face {
  font-family: PokeHollow;
  src: url(PokemonHollow.ttf);
  font-weight: bold;
}
@font-face {
  font-family: PokeSolid;
  src: url(PokemonSolid.ttf);
  font-weight: bold;
}
body {
  background-color: lightblue;
}
h1 {
  color: white;
  text-align: center;
}

i {
  color: red;
  font-family: PokeSolid;
  font-size: 50px;
  text-decoration: none;
}
a {
  color: darkblue;
  font-family: PokeSolid;
  font-size: 50px;
  text-decoration: none;
}